body{
	margin: 0;
	padding:0;
}
//ICONS FONT
@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?mto9c6");
  src: url("fonts/icomoon.eot?mto9c6#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?mto9c6") format("truetype"), url("fonts/icomoon.woff?mto9c6") format("woff"), url("fonts/icomoon.svg?mto9c6#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="gbt_18_icon"],
[class*="gbt_18_icon"] {
  font-family: "icomoon"  !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
.gbt_18_icon_up:before {
  content: "\e900";
}
.gbt_18_icon_down:before {
  content: "\e901";
}
//DEFAULT SLIDER
.gbt_18_default_slider{
	display: flex;
	align-items: stretch;
	height: 100vh;
	z-index: 0;
	position: relative;
	width: 100%;
	overflow: hidden;
	.gbt_18_content{
		width: 50%;
		overflow: auto;
		.gbt_18_content_wrapper{
			max-width: 370px;
			margin: 0 auto;
			padding-top: 200px;
			.gbt_18_slide_header{
				display: flex;
				align-items: center;
				margin-bottom: 40px;
				overflow: hidden;
				.gbt_18_current_slide{
					font-size: 14px;
					line-height: 20px;
					color: #000;
					position: relative;
					&.gbt_18_slide_up{
						animation: gbt_18_hideUp 0.9s cubic-bezier(0.455, 0.03, 0.515, 0.955);
					}
					&.gbt_18_slide_down{
						animation: gbt_18_hideDown 0.9s cubic-bezier(0.455, 0.03, 0.515, 0.955);
					}
				}
				.gbt_18_line{
					width: 100px;
					height: 2px;
					background-color: #000;
					margin: 0 15px;
				}
				.gbt_18_number_of_items{
					font-size: 14px;
					color: #000;
					line-height: 20px;
				}
			}
			.gbt_18_slide_content{
				position: relative;
				overflow: hidden;
				min-height: 400px;
				.gbt_18_slide_content_item{
					position: relative;
					height: 0;
					overflow: hidden;
					.gbt_18_slide_title{
						opacity: 0;
						transition: 0.9s cubic-bezier(0.19, 1, 0.22, 1);
						overflow: hidden;
						position: relative;
						padding: 20px 0;
						margin: 0;
					}
					.gbt_18_slide_text{
						opacity: 0;
						transition: 0.9s cubic-bezier(0.19, 1, 0.22, 1);
						overflow: hidden;
						position: relative;
						padding: 20px 0;
						margin: 0;
					}
					&.gbt_18_active{
						height: auto;
						.gbt_18_slide_title{
							opacity: 1;
							transition-delay: 0.45s!important;
						}
						.gbt_18_slide_text{
							opacity: 1;
							transition-delay: 0.7s!important;
						}
					}
				}
			}
			.gbt_18_slide_controls{
				margin-top: 40px;
				display: flex;
				width: 105px;
				justify-content: space-between;
				postion: relative;
				span{
					display: inline-block;
					font-size: 16px;
					width: 46px;
					height: 46px;
					border: 1px solid #000;
					border-radius: 50px;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					cursor: pointer;
					&.gbt_18_prev_slide{
						transition: 0.3s ease-in-out;
						&:hover{
							transform: rotate(-90deg);
						}
					}
					&.gbt_18_next_slide{
						transition: 0.3s ease-in-out;
						&:hover{
							transform: rotate(-90deg);
						}
					}
				}
			}
		}
	}
	.gbt_18_img{
		width: 50%;
		position: relative;
		.gbt_18_image_link{
			width: 100%;
			display: block;
			overflow: hidden;
			position: relative;
			overflow: hidden;
			position: absolute;
			top: 0;
			transition: 0.9s cubic-bezier(0.8, 0, 0.2, 1);
			opacity: 0;
			&.gbt_18_active{
				img{
					animation: gbt_18_scaleIn 0.9s cubic-bezier(0.8, 0, 0.2, 1);
				}
			}
			img{
				display: block;
				max-width: 100%;
				height: 100vh;
				object-fit: cover;
				width: 100%;
			}
		}
	}
}
//PRODUCT GRID WITH EXPANDING PREVIEW
.gbt_18_expanding_grid{
	position: relative;
	.gbt_18_grid{
		width: 988px;
		margin: 100px auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.gbt_18_expanding_grid_item{
			box-sizing: border-box;
			margin-bottom: 80px;
			width: 510px;
			cursor: pointer;
			&:first-child{
				width: 410px;
				padding-top: 68px;
			}
			&:nth-child(4n+4){
				width: 410px;
				padding-top: 68px;
			}
			&:nth-child(4n+5){
				width: 410px;
				padding-top: 68px;
			}
			.gbt_18_feature_image{
				display: block;
				position: relative;
				img{
					display: block;
					max-width: 100%;
					max-height: 100%;
					width: 100%;
				}
			}
			.gbt_18_product_title{
				text-align: center;
				display: block;
			}
			.gbt_18_product_price{
				display: block;
				text-align: center;
			}
		}
	}
	.gbt_18_expanded_content{
		position: fixed;
	    width: 100%;
	    height: 100%;
	    bottom: 0;
	    left: 0;
	    z-index: 962px;
	    display: flex;
	    pointer-events: none;
	    display: flex;
	    justify-content: space-between;
	    padding: 120px 140px 0 170px;
	    box-sizing: border-box;
	    overflow: hidden;
	    &.gbt_18_visible{
	    	pointer-events: auto;
	    	overflow: auto;
	    	.gbt_18_expanded_bg{
	    		background-color: #F9F9F9;
	    		transform-origin: 0 0;
	    	}
	    }
	    .gbt_18_close_content{
			display: table;
			font-size: 20px;
			color: #000;
			position: fixed;
			top: 20px;
			right: 20px;
			cursor: pointer;
			opacity: 0;
	    }
	    .gbt_18_expanded_bg{
	    	height: 100vh;
	    	width: 100%;
	    	left: 0;
	    	top: 0;
	    	position: fixed;
	    	background: transparent;
	    	z-index: -1;
	    	opacity: 0;
	    }
	    .gbt_18_product_details{
	    	max-width: 383px;
	    	width: 383px;
	    	opacity: 0;
	    	
	    }
	    .gbt_18_product_image {
		    position: relative;
			width: 962px;
			text-align: center;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
    		.gbt_18_product_image_item{
    			max-width: 460px;
    			width: 460px;
    			display: flex;
    			justify-content: center;
    			align-items: flex-start;
    			margin-bottom: 15px;
    			position: relative;
    			opacity: 0;
    			img{
			    	max-width: 100%;
			    	
			    }
    			&:first-child{
    				align-items: flex-start!important;
    				img{
    					max-width: 380px;
    				}
    			}
    			&:nth-child(4n+4){
    				align-items: flex-end;

    				img{
    					max-width: 380px;
    					
    				}
    			}
    			&:nth-child(4n+5){
    				align-items: flex-end;
    				img{
    					max-width: 380px;
    				}
    			}

    			
    		}
		}
	}
}
// DEFAULT SLIDER ANIMATION
@keyframes gbt_18_hideUp {
    49% {
		transform: translatey(-100%);
	}
	50% {
		opacity: 0;
		transform: translatey(100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes gbt_18_hideDown {
    49% {
		transform: translatey(100%);
	}
	50% {
		opacity: 0;
		transform: translatey(-100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes gbt_18_scaleIn {
	0% {
		transform: scale(1.8);
	}
	100% {
		transform: scale(1);
	}
}
// EXPANDING PREVIEW ANIMATION
