@font-face {
  font-family: 'product-blocks';
  src:
    url('fonts/product-blocks.woff2?f6hoyl') format('woff2'),
    url('fonts/product-blocks.ttf?f6hoyl') format('truetype'),
    url('fonts/product-blocks.woff?f6hoyl') format('woff'),
    url('fonts/product-blocks.svg?f6hoyl#product-blocks') format('svg');
  font-weight: normal;
  font-style: normal;
}

.editor-block-list__block[data-type="getbowtied/products-carousel"] {

    transition: all .4s ease-in-out;

	.gbt_18_product_carousel_wrapper {
		   
		ul.gbt_18_carousel_products {

			position: relative;
			transition: opacity .2s ease-in-out;

			li.gbt_18_carousel_product {

		    	float: left;
		    	list-style-type: none;
		    	text-align: center;
		    	padding: 0 10px 10px;

		    	.gbt_18_carousel_product_content_wrapper {
		    		cursor: pointer;
		    	}

		    	.gbt_18_carousel_product_thumbnail
		    	{
				    width: 100%;
				    padding-bottom: 100%;
				    background-size: cover;
				    background-position: center;
				}

		    	.gbt_18_carousel_product_title,
		    	.gbt_18_carousel_product_price
		    	{
				    font-size: 16px;
				    color: #000;
				    cursor: pointer;
				    font-weight: normal;
			        display: block;
		    	}

		    	.gbt_18_carousel_product_price
		    	{
		    		margin: 0;
		    	}

		    	.gbt_18_carousel_product_title
		    	{
		    		margin: 10px 0 10px;
		    		line-height: 1.5;
		    	}

		    	.gbt_18_carousel_product_button
		    	{
				    background: #eeeeee;
				    display: block;
				    color: #333;
				    cursor: pointer;
				    font-weight: 600;
				    border: none;
				    padding: 8px 17px;
				    margin: 10px auto 0;
				    font-size: 13px;
				    outline: 0;

				    &:hover {
				    	background: #e4e4e4;
				    }
		    	}
			}

			.slick-prev,
			.slick-next {

				transition: all .3s ease-in-out;

				&:before {
					/* use !important to prevent issues with browser extensions that change fonts */
					font-family: 'product-blocks';
					speak: none;
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					line-height: 1;

					/* Better Font Rendering =========== */
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
				}
			}

			.slick-prev {
				opacity: 0;
				left: -11px;
			}

			.slick-next {
				opacity: 0;
				right: -11px;
			}

			.slick-prev:before {
				font-family: "product-blocks";
				font-size: 20px;
				content: '\e900';
				color: #000;
			}

			.slick-next:before {
				font-family: "product-blocks";
				font-size: 20px;
				content: '\e901';
				color: #000;
			}
		}
	}

	&.is-selected,
	&.is-hovered {

		.gbt_18_product_carousel_wrapper {

			ul.gbt_18_carousel_products {

				.slick-prev {
					opacity: 1;
					left: -50px;
				}

				.slick-next {
					opacity: 1;
					right: -50px;
				}
			}
		}
	}
}

.editor-block-list__block[data-type="getbowtied/products-carousel"][data-align="full"] {
	max-width: 100% !important;
	margin: 0;

	&.is-selected,
	&.is-hovered {

		.gbt_18_product_carousel_wrapper {

			ul.gbt_18_carousel_products {

				.slick-prev {
					left: -32px;
				}

				.slick-next {
					right: -32px;
				}
			}
		}
	}
}