{
  "name": "product-blocks-for-woocommerce",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "includes/gbt-blocks/categories_grid/scss/backend/editor.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "includes/gbt-blocks/categories_grid/scss/frontend/grid.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "includes/gbt-blocks/categories_grid/scss/frontend/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "includes/gbt-blocks/products_carousel/scss/backend/editor.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "includes/gbt-blocks/products_carousel/scss/frontend/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "includes/gbt-blocks/products_slider/scss/backend/editor.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "includes/gbt-blocks/products_slider/scss/frontend/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "includes/gbt-blocks/products_slider/vendor/slick/slick-theme.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "includes/gbt-blocks/products_slider/vendor/slick/slick.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "includes/gbt-blocks/products_slider/vendor/slick/scss/slick-styles.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "includes/gbt-blocks/products_slider/vendor/slick/js/slick.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"includes/gbt-blocks/products_slider/vendor/slick/js/slick.min.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "includes/gbt-blocks/vendor/slick/js/slick.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"includes/gbt-blocks/vendor/slick/js/slick.min.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "includes/gbt-blocks/lookbook_distortion/scss/backend/editor.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "includes/gbt-blocks/expanding_grid/assets/scss/backend/editor.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "includes/gbt-blocks/expanding_grid/assets/scss/frontend/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "includes/gbt-blocks/lookbook_distortion/assets/scss/backend/editor.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "includes/gbt-blocks/lookbook_distortion/assets/scss/frontend/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "includes/gbt-blocks/categories_grid/assets/scss/backend/editor.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "includes/gbt-blocks/categories_grid/assets/scss/frontend/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "includes/gbt-blocks/products_slider/assets/scss/backend/editor.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "includes/gbt-blocks/products_slider/assets/scss/frontend/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "includes/gbt-blocks/products_carousel/assets/scss/backend/editor.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "includes/gbt-blocks/products_carousel/assets/scss/frontend/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "includes/gbt-blocks/lookbook_snap_to_scroll/assets/scss/frontend/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "includes/gbt-blocks/lookbook_snap_to_scroll/assets/scss/backend/editor.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "assets/frontend/js/scripts.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "assets/frontend/css/styles.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "includes/gbt-blocks/lookbook_reveal/assets/scss/backend/editor.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "includes/gbt-blocks/lookbook_shop_by_outfit/assets/scss/backend/editor.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "includes/gbt-blocks/lookbook_shop_by_outfit/assets/js/frontend.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "includes/gbt-blocks/lookbook_shop_by_outfit/assets/css/frontend/style.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"includes/gbt-blocks/lookbook_shop_by_outfit/assets/css/frontend/style.min.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "includes/gbt-blocks/lookbook_shop_by_outfit/assets/css/backend/editor.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"includes/gbt-blocks/lookbook_shop_by_outfit/assets/css/backend/editor.min.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "includes/gbt-blocks/lookbook_reveal/assets/css/backend/editor.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"includes/gbt-blocks/lookbook_reveal/assets/css/backend/editor.min.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "includes/gbt-blocks/lookbook_reveal/assets/css/frontend/style.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"includes/gbt-blocks/lookbook_reveal/assets/css/frontend/style.min.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "includes/gbt-blocks/categories_grid/assets/css/backend/editor.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"includes/gbt-blocks/categories_grid/assets/css/backend/editor.min.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "includes/gbt-blocks/categories_grid/assets/css/frontend/style.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"includes/gbt-blocks/categories_grid/assets/css/frontend/style.min.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "includes/gbt-blocks/categories_grid/assets/js/frontend.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "includes/gbt-blocks/products_carousel/assets/css/backend/editor.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"includes/gbt-blocks/products_carousel/assets/css/backend/editor.min.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "includes/gbt-blocks/products_carousel/assets/css/frontend/style.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"includes/gbt-blocks/products_carousel/assets/css/frontend/style.min.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "includes/gbt-blocks/products_carousel/assets/js/frontend.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "includes/gbt-blocks/products_slider/assets/css/backend/editor.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"includes/gbt-blocks/products_slider/assets/css/backend/editor.min.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "includes/gbt-blocks/products_slider/assets/css/frontend/style.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"includes/gbt-blocks/products_slider/assets/css/frontend/style.min.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "includes/gbt-blocks/products_slider/assets/js/frontend.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "includes/gbt-blocks/scattered_product_list/assets/scss/backend/editor.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "includes/gbt-blocks/scattered_product_list/assets/css/backend/editor.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"includes/gbt-blocks/scattered_product_list/assets/css/backend/editor.min.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "includes/gbt-blocks/scattered_product_list/assets/css/frontend/style.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"includes/gbt-blocks/scattered_product_list/assets/css/frontend/style.min.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "assets/backend/css/editor.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"assets/backend/css/editor.min.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "assets/backend/js/blocks.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "assets/backend/js/block-scripts.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"assets/backend/js/blocks.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "includes/gbt-blocks/categories_grid/block.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":false},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "includes/gbt-blocks/lookbook_reveal/blocks/lookbook.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "includes/gbt-blocks/lookbook_reveal/blocks/product.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "includes/gbt-blocks/lookbook_shop_by_outfit/blocks/lookbook.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":false},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "includes/gbt-blocks/lookbook_shop_by_outfit/blocks/product.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":false},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "includes/gbt-blocks/products_carousel/block.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":false},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "includes/gbt-blocks/products_slider/block.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":false},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "includes/gbt-blocks/scattered_product_list/block.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":false},\"outputSuffix\":\".min\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "includes",
      "includes/gbt-blocks/categories_grid/scss",
      "includes/gbt-blocks/products_carousel/scss",
      "includes/gbt-blocks/products_carousel/scss/frontend",
      "includes/gbt-blocks/products_carousel/scss/backend",
      "includes/gbt-blocks/categories_grid/scss/backend",
      "includes/gbt-blocks/categories_grid/css",
      "includes/gbt-blocks/categories_grid/css/backend",
      "includes/gbt-blocks/products_slider/scss",
      "includes/gbt-blocks/products_slider/scss/frontend",
      "includes/gbt-blocks/products_slider/vendor",
      "includes/gbt-blocks/products_slider/vendor/slick",
      "includes/gbt-blocks/products_slider/vendor/slick/scss",
      "includes/gbt-blocks/products_slider/vendor/slick/js",
      "includes/gbt-blocks/vendor/slick",
      "includes/gbt-blocks/vendor/slick/js",
      "includes/gbt-blocks/lookbook_distortion/scss",
      "includes/gbt-blocks/lookbook_distortion/scss/backend",
      "includes/gbt-blocks/expanding_grid/assets",
      "includes/gbt-blocks/expanding_grid/assets/scss",
      "includes/gbt-blocks/expanding_grid/assets/scss/backend",
      "includes/gbt-blocks/expanding_grid/assets/scss/frontend",
      "includes/gbt-blocks/lookbook_distortion/assets",
      "includes/gbt-blocks/lookbook_distortion/assets/scss",
      "includes/gbt-blocks/lookbook_distortion/assets/scss/frontend",
      "includes/gbt-blocks/categories_grid/assets/scss/frontend",
      "includes/gbt-blocks/products_slider/assets/scss/frontend",
      "includes/gbt-blocks/products_carousel/assets/scss/frontend",
      "includes/gbt-blocks/lookbook_snap_to_scroll",
      "includes/gbt-blocks/lookbook_snap_to_scroll/assets",
      "includes/gbt-blocks/lookbook_snap_to_scroll/assets/scss",
      "includes/gbt-blocks/lookbook_snap_to_scroll/assets/scss/frontend",
      "includes/gbt-blocks/lookbook_snap_to_scroll/assets/scss/backend",
      "assets/frontend/js",
      "includes/gbt-blocks/lookbook_reveal/assets/scss/frontend",
      "includes/gbt-blocks/lookbook_reveal/assets/scss/backend",
      "assets/frontend/css",
      "includes/gbt-blocks/lookbook_shop_by_outfit/assets",
      "includes/gbt-blocks/lookbook_shop_by_outfit/assets/scss",
      "includes/gbt-blocks/lookbook_shop_by_outfit/assets/scss/frontend",
      "includes/gbt-blocks/lookbook_shop_by_outfit/assets/css",
      "includes/gbt-blocks/lookbook_shop_by_outfit/assets/css/frontend",
      "includes/gbt-blocks/lookbook_shop_by_outfit/assets/scss/backend",
      "includes/gbt-blocks/lookbook_reveal/assets/scss",
      "includes/gbt-blocks/lookbook_reveal/assets/css",
      "includes/gbt-blocks/lookbook_reveal/assets/css/backend",
      "includes/gbt-blocks/lookbook_reveal/assets/css/frontend",
      "includes/gbt-blocks/categories_grid/assets/css",
      "includes/gbt-blocks/categories_grid/assets/js",
      "includes/gbt-blocks/products_carousel/assets/css/frontend",
      "includes/gbt-blocks/products_carousel/assets",
      "includes/gbt-blocks/products_carousel/assets/js",
      "includes/gbt-blocks/products_slider/assets/css/frontend",
      "includes/gbt-blocks/products_slider/assets/js",
      "includes/gbt-blocks/scattered_product_list/assets",
      "includes/gbt-blocks/scattered_product_list/assets/scss",
      "includes/gbt-blocks/scattered_product_list/assets/css",
      "includes/gbt-blocks/scattered_product_list/assets/scss/frontend",
      "includes/gbt-blocks/scattered_product_list/assets/css/frontend",
      "includes/gbt-blocks",
      "assets",
      "assets/backend/css",
      "assets/backend/scss",
      "includes/gbt-blocks/categories_grid/assets/scss",
      "includes/gbt-blocks/categories_grid/assets/scss/backend",
      "includes/gbt-blocks/categories_grid/functions",
      "assets/backend",
      "assets/backend/js",
      "includes/gbt-blocks/categories_grid/assets",
      "includes/gbt-blocks/categories_grid/assets/css/backend",
      "includes/gbt-blocks/lookbook_reveal/blocks",
      "includes/gbt-blocks/lookbook_shop_by_outfit/assets/css/backend",
      "includes/gbt-blocks/lookbook_shop_by_outfit/blocks",
      "includes/gbt-blocks/products_carousel/assets/css",
      "includes/gbt-blocks/products_carousel/assets/css/backend",
      "includes/gbt-blocks/products_slider/assets/scss",
      "includes/gbt-blocks/products_slider/assets/css",
      "includes/gbt-blocks/scattered_product_list/assets/css/backend",
      "includes/gbt-blocks/products_slider",
      "includes/gbt-blocks/products_slider/assets",
      "includes/gbt-blocks/categories_grid"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "includes/gbt-blocks/categories_grid/assets/scss/backend/editor.scss",
      "imports": [
        "includes/gbt-blocks/categories_grid/assets/scss/backend/grid.scss",
        "includes/gbt-blocks/categories_grid/assets/scss/backend/layout-1.scss",
        "includes/gbt-blocks/categories_grid/assets/scss/backend/layout-2.scss",
        "includes/gbt-blocks/categories_grid/assets/scss/backend/layout-3.scss",
        "includes/gbt-blocks/categories_grid/assets/scss/backend/preview.scss"
      ]
    },
    {
      "path": "includes/gbt-blocks/categories_grid/assets/scss/frontend/style.scss",
      "imports": [
        "includes/gbt-blocks/categories_grid/assets/scss/frontend/grid.scss",
        "includes/gbt-blocks/categories_grid/assets/scss/frontend/layout-1.scss",
        "includes/gbt-blocks/categories_grid/assets/scss/frontend/layout-2.scss",
        "includes/gbt-blocks/categories_grid/assets/scss/frontend/layout-3.scss"
      ]
    },
    {
      "path": "includes/gbt-blocks/lookbook_reveal/assets/scss/backend/editor.scss",
      "imports": [
        "includes/gbt-blocks/lookbook_reveal/assets/scss/backend/lookbook.scss",
        "includes/gbt-blocks/lookbook_reveal/assets/scss/backend/product.scss",
        "includes/gbt-blocks/lookbook_reveal/assets/scss/backend/placeholder.scss"
      ]
    },
    {
      "path": "includes/gbt-blocks/lookbook_shop_by_outfit/assets/scss/backend/editor.scss",
      "imports": [
        "includes/gbt-blocks/lookbook_shop_by_outfit/assets/scss/backend/lookbook.scss",
        "includes/gbt-blocks/lookbook_shop_by_outfit/assets/scss/backend/product.scss",
        "includes/gbt-blocks/lookbook_shop_by_outfit/assets/scss/backend/placeholder.scss"
      ]
    },
    {
      "path": "includes/gbt-blocks/products_slider/assets/scss/backend/editor.scss",
      "imports": [
        "includes/gbt-blocks/products_slider/assets/scss/backend/placeholder.scss",
        "includes/gbt-blocks/products_slider/assets/scss/backend/product.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7895,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"outputSuffix\":\".min\"}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}