@font-face {
  font-family: 'product-blocks';
  src:
    url('../fonts/product-blocks.woff2?f6hoyl') format('woff2'),
    url('../fonts/product-blocks.ttf?f6hoyl') format('truetype'),
    url('../fonts/product-blocks.woff?f6hoyl') format('woff'),
    url('../fonts/product-blocks.svg?f6hoyl#product-blocks') format('svg');
  font-weight: normal;
  font-style: normal;
}