.gbt_18_lookbook_distortion_wrapper {
	.gbt_18_distorsion_lookbook {
		&:nth-child(odd) {
			.gbt_18_distorsion_lookbook_item {
				.gbt_18_distorsion_image{
					left: 0;
					right: unset;
				}
				.gbt_18_distorsion_lookbook_content{
					right:0;
					left: unset;
				}
			}
		}
	}
}

.gbt_18_distorsion_lookbook{
	.gbt_18_distorsion_lookbook_item{
		height: 0;
		padding-bottom:50%;
		position: relative;
		// &:before {
		// 	content: ' ';
		// 	display: block;
		// 	padding-top:100%;
		// }
		&:hover{
			.gbt_18_distorsion_image{
				img{
					&:nth-child(2){
						opacity: 1;
					}
				}
			}
		}
		.gbt_18_distorsion_image{
			position: absolute;
			height: 100%;
			width: 50%;
			right: 0;
			// position: relative;
			overflow: hidden;
			
		    img{
		    	display: none;
				max-width: 100%;
				height: 100%;
				width: 100%;
				object-fit: cover;
				&:nth-child(2) {
					position: absolute;
					top: 0;
					left: 0;
					opacity: 0;
					transition: opacity 0.3s;
				}
			}
			canvas {
			    position: absolute;
			    top: 0;
			    left: 0;
			}
			
		}
		.gbt_18_distorsion_lookbook_content{
			position: absolute;
			height: 100%;
			width: 50%;
			left: 0;
			.gbt_18_text_wrapper{
				max-width: 400px;
				margin: 0 auto;
				padding: 100px 0;
				color: #fff;
				h2{
					// max-width: 460px;
					// font-size: 54px;
				}
				p{
					// font-size: 20px;
					// max-width: 460px;
				}
				.gbt_18_product_price{
					// font-size: 54px;
				}
				.button{
					display: table;
					font-size: 18px;
					color: #fff;
				}

			}
		}
	}
}

// .gbt_18_distorsion_lookbook
// {
// 	&.full
// 	{
// 		margin-left: calc( -100vw / 2 + 100% / 2 );
// 	    margin-right: calc( -100vw / 2 + 100% / 2 );
// 	    max-width: 100vw;
// 	}

// 	&.wide
// 	{
// 		margin-left: calc( -75vw / 2 + 100% / 2 );
// 	    margin-right: calc( -75vw / 2 + 100% / 2 );
// 	    max-width: 75vw;
// 	}
// }