.block-editor-block-list__block[data-type="getbowtied/lookbook-reveal"] .editor-inner-blocks {
    .block-editor-block-list__block[data-type="getbowtied/lookbook-reveal-product"]:nth-child(even) {
        .gbt_18_editor_lookbook_product_content {
            flex-direction: row-reverse;
        }
    }
}

.block-editor-block-list__block[data-type="getbowtied/lookbook-reveal"][data-align="full"] {
    .wp-block-edit {
        padding: 0 12px;
    }
}

.gbt_18_lookbook_reveal_topbar
{
	background-color: #f3f3f3;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.9em 1em 1.7em;
    min-height: 70px;
    height: 70px;
    width: 100%;
    text-align: center;
    font-size: 13px;
    border-bottom: 1px solid #e6e6e6;

    &:hover
    {
    	cursor: pointer;
    }

	.gbt_18_lookbook_reveal_topbar_title
	{
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;

        svg
        {
            fill: currentColor;
            margin-right: 1ch;
            width: 24px;
            height: 24px;
            position: relative;
            top: -1px;
        }
	}
}

.block-editor-block-list__block[data-type="getbowtied/lookbook-reveal"]
{
    .block-editor-inner-blocks
    {
        padding: 20px 0;

        .editor-rich-text p,
        .editor-default-block-appender__content
        {
            opacity: 0;
        }

        .editor-block-list__empty-block-inserter
        {
            left: 49%;
            right: 50%;
            top: -7px;
            opacity: 1 !important;
            display: block !important;

            button
            {
                margin: 0;
            }
        }

        .block-list-appender
        {
            max-width:100%;

            > .editor-inserter
            {
                display: none;
            }

            .editor-default-block-appender__content
            {
                margin-top: 0;
            }
        }
    }
}
