body.block-editor-page .block-editor-block-list__block[data-type="getbowtied/lookbook-reveal-product"] {
    max-width: 98%;

    &:nth-child(odd) {
        .gbt_18_lookbook_reveal_product_wrapper {
            .gbt_18_editor_lookbook_product_content {
                .gbt_18_editor_lookbook_product_content_right {
                    order: 1;
                }
                .gbt_18_editor_lookbook_product_content_left {
                    order: 2;
                }
            }
        }
    }
}

.gbt_18_lookbook_reveal_product_wrapper {

    .gbt_18_editor_lookbook_product_content {
        width: 100%;
        overflow: auto;
        display: flex;
        min-height: 200px;

        .gbt_18_editor_lookbook_product_content_left,
        .gbt_18_editor_lookbook_product_content_right {
            width: 50%;
            float: left;
            align-items: stretch;
        }

        .gbt_18_editor_lookbook_product_content_left {
            position: relative;

            .gbt_18_editor_lookbook_product_content_left_inner_top,
            .gbt_18_editor_lookbook_product_content_left_inner_bottom {
                text-align: left;
            }

            .gbt_18_editor_lookbook_product_content_left_inner_top {
                margin-bottom: 100px;

                .gbt_18_editor_lookbook_product_title {
                    line-height: 1.3;
                }
            }

            .gbt_18_editor_lookbook_product_content_left_inner_bottom {
                position: absolute;
                width: 38%;
                bottom: 15%;

                .gbt_18_editor_lookbook_product_button {
                    background: transparent;
                    display: block;
                    cursor: pointer;
                    border-top: none;
                    border-right: none;
                    border-left: none;
                    border-bottom: 1px solid;
                    padding: 1px 0px;
                    outline: 0;
                }
            }
        }

        .gbt_18_editor_lookbook_product_content_right {

            .gbt_18_editor_lookbook_product_image {
                background-size: cover;
                background-position: center;
                padding-bottom: 100%;
                height: 100%;
                width: 100%;
            }
        }
    }
}

.block-editor-block-list__block[data-type="getbowtied/lookbook-reveal"] {

    .gbt_18_lookbook_reveal_product_wrapper {

        .gbt_18_editor_lookbook_product_content {

            .gbt_18_editor_lookbook_product_content_left {
                padding: 10%;

                .gbt_18_editor_lookbook_product_content_left_inner_top {

                    .gbt_18_editor_lookbook_product_title {
                        font-size: 18px;
                    }

                    .gbt_18_editor_lookbook_product_text {
                        * {
                            color: inherit;
                        }

                        p {
                            display: none;
                            font-size: 12px;
                        }
                    }
                }

                .gbt_18_editor_lookbook_product_content_left_inner_bottom {

                    .gbt_18_editor_lookbook_product_price {
                        font-size: 14px;
                        margin-bottom: 10px;
                    }

                    .gbt_18_editor_lookbook_product_button {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

.block-editor-block-list__block[data-type="getbowtied/lookbook-reveal"][data-align="wide"],
.block-editor-block-list__block[data-type="getbowtied/lookbook-reveal"][data-align="full"] {

    .gbt_18_lookbook_reveal_product_wrapper {

        .gbt_18_editor_lookbook_product_content {

            .gbt_18_editor_lookbook_product_content_left {

                .gbt_18_editor_lookbook_product_content_left_inner_top {

                    .gbt_18_editor_lookbook_product_title {
                        font-size: 30px;
                    }

                    .gbt_18_editor_lookbook_product_text p {
                        display: block;
                        font-size: 16px;
                    }
                }

                .gbt_18_editor_lookbook_product_content_left_inner_bottom {

                    .gbt_18_editor_lookbook_product_price {
                        font-size: 28px;
                        margin: 10px 0 15px 0;
                    }

                    .gbt_18_editor_lookbook_product_button {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

div.block-editor-block-contextual-toolbar[data-type="getbowtied/lookbook-reveal-product"]:not([data-align="wide"]):not([data-align="full"]) .block-editor-block-mover.is-visible {
    animation: none;
    border-radius: 0;
    display: inherit;
    opacity: 1;
    position: relative;
    left: 0;
    top: 0;

    .block-editor-block-mover__control {
        height: auto;
    }
}
