.block-editor-block-list__block[data-type="getbowtied/scattered-product-list"] .gbt_18_placeholder_expanding_grid_wrapper {
  overflow: auto; }
  .block-editor-block-list__block[data-type="getbowtied/scattered-product-list"] .gbt_18_placeholder_expanding_grid_wrapper ul.gbt_18_placeholder_expanding_grid_products li.gbt_18_placeholder_grid_product {
    float: left;
    width: 50%;
    list-style-type: none;
    text-align: center;
    margin-bottom: 0; }
    .block-editor-block-list__block[data-type="getbowtied/scattered-product-list"] .gbt_18_placeholder_expanding_grid_wrapper ul.gbt_18_placeholder_expanding_grid_products li.gbt_18_placeholder_grid_product:first-child {
      padding: 40px;
      clear: both; }
    .block-editor-block-list__block[data-type="getbowtied/scattered-product-list"] .gbt_18_placeholder_expanding_grid_wrapper ul.gbt_18_placeholder_expanding_grid_products li.gbt_18_placeholder_grid_product:nth-child(2) {
      padding: 0 10px 10px; }
    .block-editor-block-list__block[data-type="getbowtied/scattered-product-list"] .gbt_18_placeholder_expanding_grid_wrapper ul.gbt_18_placeholder_expanding_grid_products li.gbt_18_placeholder_grid_product .gbt_18_placeholder_grid_product_thumbnail {
      background-color: #eeeeee;
      background-position: center;
      padding-bottom: 100%;
      height: 0;
      width: 100%; }
    .block-editor-block-list__block[data-type="getbowtied/scattered-product-list"] .gbt_18_placeholder_expanding_grid_wrapper ul.gbt_18_placeholder_expanding_grid_products li.gbt_18_placeholder_grid_product .gbt_18_placeholder_grid_product_title {
      height: 15px;
      width: 70%;
      margin: 15px auto 0;
      background-color: #eeeeee; }
    .block-editor-block-list__block[data-type="getbowtied/scattered-product-list"] .gbt_18_placeholder_expanding_grid_wrapper ul.gbt_18_placeholder_expanding_grid_products li.gbt_18_placeholder_grid_product .gbt_18_placeholder_grid_product_price {
      height: 10px;
      width: 30%;
      margin: 15px auto;
      background-color: #eeeeee; }
    .block-editor-block-list__block[data-type="getbowtied/scattered-product-list"] .gbt_18_placeholder_expanding_grid_wrapper ul.gbt_18_placeholder_expanding_grid_products li.gbt_18_placeholder_grid_product .gbt_18_placeholder_grid_product_button {
      background: #eeeeee;
      display: block;
      color: #333;
      cursor: pointer;
      font-weight: 600;
      border: none;
      padding: 8px 17px;
      margin: 10px auto 0;
      font-size: 13px;
      outline: 0; }
      .block-editor-block-list__block[data-type="getbowtied/scattered-product-list"] .gbt_18_placeholder_expanding_grid_wrapper ul.gbt_18_placeholder_expanding_grid_products li.gbt_18_placeholder_grid_product .gbt_18_placeholder_grid_product_button:hover {
        background: #e4e4e4; }

.block-editor-block-list__block[data-type="getbowtied/scattered-product-list"] .gbt_18_expanding_grid_wrapper {
  overflow: auto; }
  .block-editor-block-list__block[data-type="getbowtied/scattered-product-list"] .gbt_18_expanding_grid_wrapper ul.gbt_18_expanding_grid_products {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    -webkit-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 0;
    padding-left: 0; }
    .block-editor-block-list__block[data-type="getbowtied/scattered-product-list"] .gbt_18_expanding_grid_wrapper ul.gbt_18_expanding_grid_products li.gbt_18_grid_product {
      float: left;
      width: 50%;
      list-style-type: none;
      text-align: center;
      margin-bottom: 25px;
      padding: 0 10px 10px; }
      .block-editor-block-list__block[data-type="getbowtied/scattered-product-list"] .gbt_18_expanding_grid_wrapper ul.gbt_18_expanding_grid_products li.gbt_18_grid_product:nth-child(odd) {
        clear: both; }
      .block-editor-block-list__block[data-type="getbowtied/scattered-product-list"] .gbt_18_expanding_grid_wrapper ul.gbt_18_expanding_grid_products li.gbt_18_grid_product:nth-child(4n+1) {
        padding: 40px; }
      .block-editor-block-list__block[data-type="getbowtied/scattered-product-list"] .gbt_18_expanding_grid_wrapper ul.gbt_18_expanding_grid_products li.gbt_18_grid_product:nth-child(4n+4) {
        padding: 40px; }
      .block-editor-block-list__block[data-type="getbowtied/scattered-product-list"] .gbt_18_expanding_grid_wrapper ul.gbt_18_expanding_grid_products li.gbt_18_grid_product .gbt_18_grid_product_content_wrapper {
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        vertical-align: middle;
        height: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
      .block-editor-block-list__block[data-type="getbowtied/scattered-product-list"] .gbt_18_expanding_grid_wrapper ul.gbt_18_expanding_grid_products li.gbt_18_grid_product .gbt_18_grid_product_thumbnail {
        width: 100%; }
      .block-editor-block-list__block[data-type="getbowtied/scattered-product-list"] .gbt_18_expanding_grid_wrapper ul.gbt_18_expanding_grid_products li.gbt_18_grid_product .gbt_18_grid_product_title,
      .block-editor-block-list__block[data-type="getbowtied/scattered-product-list"] .gbt_18_expanding_grid_wrapper ul.gbt_18_expanding_grid_products li.gbt_18_grid_product .gbt_18_grid_product_price {
        font-size: 16px;
        color: #000;
        cursor: pointer;
        font-weight: normal;
        display: block; }
      .block-editor-block-list__block[data-type="getbowtied/scattered-product-list"] .gbt_18_expanding_grid_wrapper ul.gbt_18_expanding_grid_products li.gbt_18_grid_product .gbt_18_grid_product_price {
        margin: 0; }
      .block-editor-block-list__block[data-type="getbowtied/scattered-product-list"] .gbt_18_expanding_grid_wrapper ul.gbt_18_expanding_grid_products li.gbt_18_grid_product .gbt_18_grid_product_title {
        margin: 10px 0 10px;
        line-height: 1.5; }
      .block-editor-block-list__block[data-type="getbowtied/scattered-product-list"] .gbt_18_expanding_grid_wrapper ul.gbt_18_expanding_grid_products li.gbt_18_grid_product .gbt_18_grid_product_button {
        background: #eeeeee;
        display: block;
        color: #333;
        cursor: pointer;
        font-weight: 600;
        border: none;
        padding: 8px 17px;
        margin: 10px auto 0;
        font-size: 13px;
        outline: 0; }
        .block-editor-block-list__block[data-type="getbowtied/scattered-product-list"] .gbt_18_expanding_grid_wrapper ul.gbt_18_expanding_grid_products li.gbt_18_grid_product .gbt_18_grid_product_button:hover {
          background: #e4e4e4; }

.block-editor-block-list__block[data-type="getbowtied/scattered-product-list"][data-align="wide"] .gbt_18_expanding_grid_wrapper ul.gbt_18_expanding_grid_products li.gbt_18_grid_product:nth-child(4n+1) {
  padding: 55px; }

.block-editor-block-list__block[data-type="getbowtied/scattered-product-list"][data-align="wide"] .gbt_18_expanding_grid_wrapper ul.gbt_18_expanding_grid_products li.gbt_18_grid_product:nth-child(4n+4) {
  padding: 55px; }

.block-editor-block-list__block[data-type="getbowtied/scattered-product-list"][data-align="full"] .gbt_18_expanding_grid_wrapper {
  padding: 0 5px; }
  .block-editor-block-list__block[data-type="getbowtied/scattered-product-list"][data-align="full"] .gbt_18_expanding_grid_wrapper ul.gbt_18_expanding_grid_products li.gbt_18_grid_product:nth-child(4n+1) {
    padding: 65px; }
  .block-editor-block-list__block[data-type="getbowtied/scattered-product-list"][data-align="full"] .gbt_18_expanding_grid_wrapper ul.gbt_18_expanding_grid_products li.gbt_18_grid_product:nth-child(4n+4) {
    padding: 65px; }
