.editor-block-list__block[data-type="getbowtied/lookbook-distortion-lookbook"] .editor-inner-blocks .editor-block-list__block[data-type="getbowtied/lookbook-distortion-product"]:nth-child(even) .gbt_18_editor_lookbook_product_content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.editor-block-list__block[data-type="getbowtied/lookbook-distortion-lookbook"][data-align="full"] .editor-block-list__block-edit {
  padding: 0 12px; }

.wp-block-slider-title-wrapper {
  background-color: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1.7em 1em 1em;
  min-height: 70px;
  height: 70px;
  width: 100%;
  text-align: center;
  font-size: 13px;
  border-bottom: 1px solid #e6e6e6; }
  .wp-block-slider-title-wrapper:hover {
    cursor: pointer; }
  .wp-block-slider-title-wrapper .dashicon.dashicons-slides {
    margin-right: 1ch;
    margin-top: -10px; }
  .wp-block-slider-title-wrapper .wp-block-slider-title {
    font-family: BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 3px;
    margin-left: -3px; }
  .wp-block-slider-title-wrapper .dashicon.dashicons-slides:before {
    font-family: "dashicons";
    font-size: 26px; }

.gbt_18_editor_lookbook_product_content {
  width: 100%;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 200px; }
  .gbt_18_editor_lookbook_product_content .gbt_18_editor_lookbook_product_content_left,
  .gbt_18_editor_lookbook_product_content .gbt_18_editor_lookbook_product_content_right {
    width: 50%;
    float: left;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
  .gbt_18_editor_lookbook_product_content .gbt_18_editor_lookbook_product_content_left {
    padding: 60px; }

.gbt_18_editor_dummy_lookbook_product_content {
  width: 100%;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 200px; }
  .gbt_18_editor_dummy_lookbook_product_content .gbt_18_editor_dummy_lookbook_product_content_left,
  .gbt_18_editor_dummy_lookbook_product_content .gbt_18_editor_dummy_lookbook_product_content_right {
    width: 50%;
    float: left;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
  .gbt_18_editor_dummy_lookbook_product_content .gbt_18_editor_dummy_lookbook_product_content_left {
    padding: 60px; }

.gbt_18_editor_dummy_lookbook_product_content_left_inner_bottom {
  bottom: 90px;
  width: 38%;
  position: absolute; }

.gbt_18_editor_dummy_lookbook_product_image {
  background-size: cover;
  background-color: #e6c4c4;
  background-position: center;
  padding-bottom: 100%;
  height: 0;
  width: 100%; }

.gbt_18_editor_dummy_lookbook_product_title {
  height: 60px;
  width: 90%;
  background: #fff; }

.gbt_18_editor_dummy_lookbook_product_price {
  height: 40px;
  width: 25%;
  background: #fff; }

.gbt_18_editor_dummy_lookbook_product_text1 {
  height: 15px;
  margin-top: 40px;
  width: 80%;
  background: #fff; }

.gbt_18_editor_dummy_lookbook_product_text2 {
  height: 15px;
  margin-top: 15px;
  width: 60%;
  background: #fff; }

.gbt_18_editor_dummy_lookbook_product_text3 {
  height: 15px;
  margin-top: 15px;
  width: 70%;
  background: #fff; }

.gbt_18_editor_dummy_lookbook_product_button {
  background: transparent;
  display: block;
  font-family: sans-serif;
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  margin-top: 20px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid;
  padding: 1px 0px;
  outline: 0; }
  .gbt_18_editor_dummy_lookbook_product_button:hover {
    background: transparent; }

.gbt_18_editor_lookbook_product_content_left_inner_bottom {
  bottom: 90px;
  width: 38%;
  position: absolute; }

.gbt_18_editor_lookbook_product_image {
  background-size: cover;
  background-position: center;
  padding-bottom: 100%;
  height: 0;
  width: 100%; }

.gbt_18_editor_lookbook_product_title,
.gbt_18_editor_lookbook_product_price,
.gbt_18_editor_lookbook_product_text,
.gbt_18_editor_lookbook_product_button {
  font-family: sans-serif; }

.editor-block-list__block p.gbt_18_editor_lookbook_product_price {
  font-size: 28px;
  margin: 10px 0 15px 0; }

.gbt_18_editor_lookbook_product_title {
  font-weight: normal;
  font-size: 30px;
  line-height: 1.3; }

.gbt_18_editor_lookbook_product_button {
  background: transparent;
  display: block;
  cursor: pointer;
  font-weight: 600;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid;
  padding: 1px 0px;
  outline: 0; }
  .gbt_18_editor_lookbook_product_button:hover {
    background: transparent; }

body.block-editor-page .editor-block-list__block[data-type="getbowtied/lookbook-distortion-product"] {
  max-width: 100%; }
