body {
  margin: 0;
  padding: 0; }
  body.gbt_18_overflow {
    overflow: hidden; }

.gbt_18_expanding_grid {
  position: relative; }
  .gbt_18_expanding_grid .gbt_18_grid {
    width: 100%;
    margin: 0 auto 1.25rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .gbt_18_expanding_grid .gbt_18_grid .gbt_18_expanding_grid_item {
      width: 100%;
      margin-bottom: 40px; }
      @media screen and (max-width: 768px) {
        .gbt_18_expanding_grid .gbt_18_grid .gbt_18_expanding_grid_item h2 {
          font-size: 1em; } }
      @media screen and (min-width: 768px) {
        .gbt_18_expanding_grid .gbt_18_grid .gbt_18_expanding_grid_item {
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin-bottom: 80px;
          width: 51.6%;
          cursor: pointer; }
          .gbt_18_expanding_grid .gbt_18_grid .gbt_18_expanding_grid_item:first-child {
            width: 41.5%; }
          .gbt_18_expanding_grid .gbt_18_grid .gbt_18_expanding_grid_item:nth-child(4n+4) {
            width: 41.5%; }
          .gbt_18_expanding_grid .gbt_18_grid .gbt_18_expanding_grid_item:nth-child(4n+5) {
            width: 41.5%; }
          .gbt_18_expanding_grid .gbt_18_grid .gbt_18_expanding_grid_item > a {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            height: 100%;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            vertical-align: middle;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center; } }
      .gbt_18_expanding_grid .gbt_18_grid .gbt_18_expanding_grid_item .gbt_18_product-info {
        margin-top: 20px; }
      .gbt_18_expanding_grid .gbt_18_grid .gbt_18_expanding_grid_item .gbt_18_feature_image {
        display: block;
        position: relative; }
        .gbt_18_expanding_grid .gbt_18_grid .gbt_18_expanding_grid_item .gbt_18_feature_image img {
          width: 100%; }
      .gbt_18_expanding_grid .gbt_18_grid .gbt_18_expanding_grid_item .gbt_18_product_title {
        text-align: center;
        display: block; }
      .gbt_18_expanding_grid .gbt_18_grid .gbt_18_expanding_grid_item .gbt_18_product_price {
        display: block;
        text-align: center; }
