.products-main-inspector-wrapper .products-ajax-search-results {
  border: 1px solid  #E8EBEF;
  max-height: 261px;
  overflow-y: auto;
  overflow-x: hidden; }
  .products-main-inspector-wrapper .products-ajax-search-results .single-result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 52px;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #E8EBEF;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer; }
    .products-main-inspector-wrapper .products-ajax-search-results .single-result:hover {
      background: #F8FCFF; }
    .products-main-inspector-wrapper .products-ajax-search-results .single-result .title-wrapper {
      max-width: 130px;
      overflow: hidden; }
      .products-main-inspector-wrapper .products-ajax-search-results .single-result .title-wrapper input[type="checkbox"] {
        display: none; }
    .products-main-inspector-wrapper .products-ajax-search-results .single-result .img-wrapper {
      width: 32px;
      height: 32px;
      position: relative;
      margin-right: 12px;
      margin-left: 12px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 32px;
      flex: 0 0 32px; }
      .products-main-inspector-wrapper .products-ajax-search-results .single-result .img-wrapper .img {
        background-size: cover;
        width: 32px;
        height: 32px;
        background-position: center center;
        position: absolute;
        left: 0;
        top: 0; }
    .products-main-inspector-wrapper .products-ajax-search-results .single-result:after {
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      height: 100%;
      z-index: 1;
      content: '';
      background: -webkit-gradient(linear, right top, left top, from(white), to(rgba(255, 255, 255, 0.7)));
      background: -webkit-linear-gradient(right, white, rgba(255, 255, 255, 0.7));
      background: -o-linear-gradient(right, white, rgba(255, 255, 255, 0.7));
      background: linear-gradient(to left, white, rgba(255, 255, 255, 0.7)); }
    .products-main-inspector-wrapper .products-ajax-search-results .single-result .dashicons {
      position: absolute;
      top: 16px;
      right: 13px;
      z-index: 2;
      opacity: 0; }
    .products-main-inspector-wrapper .products-ajax-search-results .single-result.selected {
      background: #F8FCFF; }
      .products-main-inspector-wrapper .products-ajax-search-results .single-result.selected .dashicons {
        opacity: 1; }

.products-main-inspector-wrapper .products-selected-results {
  border: 1px solid  #E8EBEF;
  max-height: 261px;
  overflow-y: auto;
  overflow-x: hidden; }
  .products-main-inspector-wrapper .products-selected-results .single-result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 52px;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #E8EBEF;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer; }
    .products-main-inspector-wrapper .products-selected-results .single-result .title-wrapper {
      max-width: 130px;
      overflow: hidden; }
      .products-main-inspector-wrapper .products-selected-results .single-result .title-wrapper input[type="checkbox"] {
        display: none; }
    .products-main-inspector-wrapper .products-selected-results .single-result .img-wrapper {
      width: 32px;
      height: 32px;
      position: relative;
      margin-right: 12px;
      margin-left: 12px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 32px;
      flex: 0 0 32px; }
      .products-main-inspector-wrapper .products-selected-results .single-result .img-wrapper .img {
        background-size: cover;
        width: 32px;
        height: 32px;
        background-position: center center;
        position: absolute;
        left: 0;
        top: 0; }
    .products-main-inspector-wrapper .products-selected-results .single-result:after {
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      height: 100%;
      z-index: 1;
      content: '';
      background: -webkit-gradient(linear, right top, left top, from(white), to(rgba(255, 255, 255, 0.7)));
      background: -webkit-linear-gradient(right, white, rgba(255, 255, 255, 0.7));
      background: -o-linear-gradient(right, white, rgba(255, 255, 255, 0.7));
      background: linear-gradient(to left, white, rgba(255, 255, 255, 0.7)); }
    .products-main-inspector-wrapper .products-selected-results .single-result.selected {
      background: #F8FCFF; }
      .products-main-inspector-wrapper .products-selected-results .single-result.selected .dashicons {
        opacity: 1; }

.products-main-inspector-wrapper .category-result-wrapper > label {
  display: block;
  width: 100%;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
  .products-main-inspector-wrapper .category-result-wrapper > label.child {
    padding-left: 28px;
    max-height: 0;
    overflow: hidden; }
    .products-main-inspector-wrapper .category-result-wrapper > label.child.expanded {
      max-height: 30px; }
  .products-main-inspector-wrapper .category-result-wrapper > label .category-count {
    margin-left: 20px;
    color: #ccc; }
  .products-main-inspector-wrapper .category-result-wrapper > label .expand {
    position: absolute;
    right: 0;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
  .products-main-inspector-wrapper .category-result-wrapper > label.expanded .expand {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg); }

.products-main-inspector-wrapper .attributes-results-wrapper > label {
  display: block;
  width: 100%;
  position: relative; }

.products-main-inspector-wrapper .search-results {
  margin-top: 50px;
  background: yellow; }
