.products-main-inspector-wrapper .category-result-wrapper > label {
  display: block;
  width: 100%;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
  .products-main-inspector-wrapper .category-result-wrapper > label.child {
    padding-left: 28px;
    max-height: 0;
    overflow: hidden; }
    .products-main-inspector-wrapper .category-result-wrapper > label.child.expanded {
      max-height: 30px; }
  .products-main-inspector-wrapper .category-result-wrapper > label .category-count {
    margin-left: 20px;
    color: #ccc; }
  .products-main-inspector-wrapper .category-result-wrapper > label .expand {
    position: absolute;
    right: 0;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
  .products-main-inspector-wrapper .category-result-wrapper > label.expanded .expand {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg); }

.products-main-inspector-wrapper .attributes-results-wrapper > label {
  display: block;
  width: 100%;
  position: relative; }

.products-main-inspector-wrapper .search-results {
  margin-top: 50px;
  background: yellow; }
