.wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper .gbt_18_editor_categories_grid {
  overflow: hidden; }
  .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper .gbt_18_editor_categories_grid .gbt_18_editor_category_grid_item {
    margin-bottom: 16px;
    position: relative;
    opacity: 1; }
    .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper .gbt_18_editor_categories_grid .gbt_18_editor_category_grid_item .gbt_18_editor_category_grid_item_img {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
      -webkit-transition: 0.2s ease-in-out;
      -o-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out;
      cursor: pointer; }
      .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper .gbt_18_editor_categories_grid .gbt_18_editor_category_grid_item .gbt_18_editor_category_grid_item_img:hover {
        opacity: 0.5; }
      .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper .gbt_18_editor_categories_grid .gbt_18_editor_category_grid_item .gbt_18_editor_category_grid_item_img img {
        display: block;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover; }
    .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper .gbt_18_editor_categories_grid .gbt_18_editor_category_grid_item .gbt_18_editor_category_grid_item_title {
      font-size: 0.9rem;
      color: #000;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 0 16px 16px;
      line-height: 1.5;
      text-align: left;
      margin: 0; }
      .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper .gbt_18_editor_categories_grid .gbt_18_editor_category_grid_item .gbt_18_editor_category_grid_item_title .gbt_18_editor_category_grid_item_count {
        color: #888888;
        font-size: 0.75rem;
        vertical-align: top;
        display: inline-block;
        margin-left: 10px;
        text-align: left; }

.block-editor-block-list__block[data-type="getbowtied/categories-grid"][data-align="wide"] .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper .gbt_18_editor_categories_grid {
  padding: 0 4px; }
  .block-editor-block-list__block[data-type="getbowtied/categories-grid"][data-align="wide"] .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper .gbt_18_editor_categories_grid .gbt_18_editor_category_grid_item_title {
    font-size: 1.15rem;
    padding: 0 32px 24px; }
    .block-editor-block-list__block[data-type="getbowtied/categories-grid"][data-align="wide"] .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper .gbt_18_editor_categories_grid .gbt_18_editor_category_grid_item_title .gbt_18_editor_category_grid_item_count {
      font-size: 1.15rem; }

.block-editor-block-list__block[data-type="getbowtied/categories-grid"][data-align="full"] .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper .gbt_18_editor_categories_grid {
  padding: 0 4px; }
  .block-editor-block-list__block[data-type="getbowtied/categories-grid"][data-align="full"] .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper .gbt_18_editor_categories_grid .gbt_18_editor_category_grid_item_title {
    font-size: 1.15rem;
    padding: 0 32px 24px; }
    .block-editor-block-list__block[data-type="getbowtied/categories-grid"][data-align="full"] .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper .gbt_18_editor_categories_grid .gbt_18_editor_category_grid_item_title .gbt_18_editor_category_grid_item_count {
      font-size: 1.15rem; }

@media screen and (min-width: 768px) {
  .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-1 .gbt_18_editor_categories_grid {
    margin: 0 -8px 0 8px; }
    .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-1 .gbt_18_editor_categories_grid.columns-1 .gbt_18_editor_category_grid_item {
      width: 100%;
      padding: 0 16px calc(100% - 16px) 16px; }
    .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-1 .gbt_18_editor_categories_grid.columns-2 .gbt_18_editor_category_grid_item {
      width: 50%;
      padding: 0 16px calc(50% - 16px) 16px; }
    .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-1 .gbt_18_editor_categories_grid.columns-3 .gbt_18_editor_category_grid_item {
      width: 33.33333333%;
      padding: 0 16px calc(33.33333333% - 16px) 16px; }
    .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-1 .gbt_18_editor_categories_grid.columns-4 .gbt_18_editor_category_grid_item {
      width: 25%;
      padding: 0 16px calc(25% - 16px) 16px; }
      .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-1 .gbt_18_editor_categories_grid.columns-4 .gbt_18_editor_category_grid_item .gbt_18_editor_category_grid_item_title {
        font-size: 0.85rem; }
        .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-1 .gbt_18_editor_categories_grid.columns-4 .gbt_18_editor_category_grid_item .gbt_18_editor_category_grid_item_title .gbt_18_editor_category_grid_item_count {
          font-size: 0.75rem; }
    .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-1 .gbt_18_editor_categories_grid.columns-5 .gbt_18_editor_category_grid_item {
      width: 20%;
      padding: 0 16px calc(20% - 16px) 16px; }
      .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-1 .gbt_18_editor_categories_grid.columns-5 .gbt_18_editor_category_grid_item .gbt_18_editor_category_grid_item_title {
        font-size: 0.75rem;
        padding: 0 12px 12px; }
        .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-1 .gbt_18_editor_categories_grid.columns-5 .gbt_18_editor_category_grid_item .gbt_18_editor_category_grid_item_title .gbt_18_editor_category_grid_item_count {
          font-size: 0.65rem; }
    .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-1 .gbt_18_editor_categories_grid.columns-6 .gbt_18_editor_category_grid_item {
      width: 16.66666666%;
      padding: 0 16px calc(16.66666666% - 16px) 16px; }
      .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-1 .gbt_18_editor_categories_grid.columns-6 .gbt_18_editor_category_grid_item .gbt_18_editor_category_grid_item_title {
        font-size: 0.6rem;
        padding: 0 10px 8px; }
        .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-1 .gbt_18_editor_categories_grid.columns-6 .gbt_18_editor_category_grid_item .gbt_18_editor_category_grid_item_title .gbt_18_editor_category_grid_item_count {
          font-size: 0.55rem; }
    .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-1 .gbt_18_editor_categories_grid .gbt_18_editor_category_grid_item {
      float: left;
      width: 33.33333333%;
      margin-bottom: 16px;
      position: relative;
      overflow: hidden;
      height: 0;
      padding: 0 16px 33.33333333% 16px; }
      .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-1 .gbt_18_editor_categories_grid .gbt_18_editor_category_grid_item .gbt_18_editor_category_grid_item_img {
        position: absolute;
        left: 0;
        width: 95%; } }

.block-editor-block-list__block[data-type="getbowtied/categories-grid"][data-align="wide"] .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-1 .gbt_18_editor_categories_grid.columns-4 .gbt_18_editor_category_grid_item_title {
  font-size: 1rem;
  padding: 0 25px 22px; }
  .block-editor-block-list__block[data-type="getbowtied/categories-grid"][data-align="wide"] .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-1 .gbt_18_editor_categories_grid.columns-4 .gbt_18_editor_category_grid_item_title .gbt_18_editor_category_grid_item_count {
    font-size: 0.75rem; }

.block-editor-block-list__block[data-type="getbowtied/categories-grid"][data-align="wide"] .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-1 .gbt_18_editor_categories_grid.columns-5 .gbt_18_editor_category_grid_item_title {
  font-size: 1rem;
  padding: 0 20px 22px; }
  .block-editor-block-list__block[data-type="getbowtied/categories-grid"][data-align="wide"] .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-1 .gbt_18_editor_categories_grid.columns-5 .gbt_18_editor_category_grid_item_title .gbt_18_editor_category_grid_item_count {
    font-size: 0.75rem; }

.block-editor-block-list__block[data-type="getbowtied/categories-grid"][data-align="wide"] .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-1 .gbt_18_editor_categories_grid.columns-6 .gbt_18_editor_category_grid_item_title {
  font-size: 0.9rem;
  padding: 0 20px 15px; }
  .block-editor-block-list__block[data-type="getbowtied/categories-grid"][data-align="wide"] .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-1 .gbt_18_editor_categories_grid.columns-6 .gbt_18_editor_category_grid_item_title .gbt_18_editor_category_grid_item_count {
    font-size: 0.75rem; }

.block-editor-block-list__block[data-type="getbowtied/categories-grid"][data-align="full"] .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-1 .gbt_18_editor_categories_grid.columns-4 .gbt_18_editor_category_grid_item_title {
  font-size: 1.15rem;
  padding: 0 32px 24px; }
  .block-editor-block-list__block[data-type="getbowtied/categories-grid"][data-align="full"] .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-1 .gbt_18_editor_categories_grid.columns-4 .gbt_18_editor_category_grid_item_title .gbt_18_editor_category_grid_item_count {
    font-size: 1rem; }

.block-editor-block-list__block[data-type="getbowtied/categories-grid"][data-align="full"] .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-1 .gbt_18_editor_categories_grid.columns-5 .gbt_18_editor_category_grid_item_title {
  font-size: 1rem;
  padding: 0 25px 22px; }
  .block-editor-block-list__block[data-type="getbowtied/categories-grid"][data-align="full"] .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-1 .gbt_18_editor_categories_grid.columns-5 .gbt_18_editor_category_grid_item_title .gbt_18_editor_category_grid_item_count {
    font-size: 0.75rem; }

.block-editor-block-list__block[data-type="getbowtied/categories-grid"][data-align="full"] .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-1 .gbt_18_editor_categories_grid.columns-6 .gbt_18_editor_category_grid_item_title {
  font-size: 1rem;
  padding: 0 25px 22px; }
  .block-editor-block-list__block[data-type="getbowtied/categories-grid"][data-align="full"] .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-1 .gbt_18_editor_categories_grid.columns-6 .gbt_18_editor_category_grid_item_title .gbt_18_editor_category_grid_item_count {
    font-size: 0.75rem; }

@media screen and (min-width: 768px) {
  .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-2 .gbt_18_editor_categories_grid .gbt_18_editor_category_grid_item {
    float: left;
    width: 33.33333333%;
    padding: 0 8px;
    margin-bottom: 16px;
    height: 332px; }
    .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-2 .gbt_18_editor_categories_grid .gbt_18_editor_category_grid_item:nth-child(1) {
      width: 66.66666666%; } }

@media screen and (min-width: 1024px) {
  .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-2 .gbt_18_editor_categories_grid .gbt_18_editor_category_grid_item {
    height: 332px; }
    .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-2 .gbt_18_editor_categories_grid .gbt_18_editor_category_grid_item:nth-child(1) {
      width: 66.66666666%;
      height: 540px; }
    .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-2 .gbt_18_editor_categories_grid .gbt_18_editor_category_grid_item:nth-child(2) {
      height: 540px; } }

@media screen and (min-width: 768px) {
  .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-3 .gbt_18_editor_categories_grid .gbt_18_editor_category_grid_item {
    float: left;
    width: 33.33333333%;
    padding: 0 8px;
    margin-bottom: 16px; }
    .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-3 .gbt_18_editor_categories_grid .gbt_18_editor_category_grid_item:nth-child(4n+1) {
      width: 66.66666666%; }
    .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-3 .gbt_18_editor_categories_grid .gbt_18_editor_category_grid_item:nth-child(4n+4) {
      width: 66.66666666%; } }

@media screen and (min-width: 1024px) {
  .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-3 .gbt_18_editor_categories_grid .gbt_18_editor_category_grid_item {
    height: 340px; } }

.editor-block-preview .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper .gbt_18_editor_categories_grid .gbt_18_editor_category_grid_item {
  height: 70px !important;
  padding: 0 4px;
  margin-bottom: 8px; }

.editor-block-preview .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper .gbt_18_editor_categories_grid .gbt_18_editor_category_grid_item_title {
  font-size: 0.45rem;
  bottom: 3px;
  left: 11px; }
  .editor-block-preview .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper .gbt_18_editor_categories_grid .gbt_18_editor_category_grid_item_title .gbt_18_editor_category_grid_item_count {
    font-size: 0.40rem;
    margin-left: 3px;
    margin-top: -2px; }

.editor-block-preview .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-1 .gbt_18_editor_categories_grid.columns-4 .gbt_18_editor_category_grid_item .gbt_18_editor_category_grid_item_title, .editor-block-preview .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-1 .gbt_18_editor_categories_grid.columns-5 .gbt_18_editor_category_grid_item .gbt_18_editor_category_grid_item_title, .editor-block-preview .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-1 .gbt_18_editor_categories_grid.columns-6 .gbt_18_editor_category_grid_item .gbt_18_editor_category_grid_item_title {
  font-size: 0.45rem;
  left: 15px; }

.editor-block-preview .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-1 .gbt_18_editor_categories_grid.columns-4 .gbt_18_editor_category_grid_item .gbt_18_editor_category_grid_item_count, .editor-block-preview .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-1 .gbt_18_editor_categories_grid.columns-5 .gbt_18_editor_category_grid_item .gbt_18_editor_category_grid_item_count, .editor-block-preview .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-1 .gbt_18_editor_categories_grid.columns-6 .gbt_18_editor_category_grid_item .gbt_18_editor_category_grid_item_count {
  font-size: 0.40rem; }

.editor-block-preview .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper.is-style-layout-1 .gbt_18_editor_categories_grid .gbt_18_editor_category_grid_item {
  padding-left: 8px;
  padding-right: 8px; }

.editor-block-styles__item-preview .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper .gbt_18_editor_categories_grid {
  margin: -3px 0 0; }
  .editor-block-styles__item-preview .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper .gbt_18_editor_categories_grid .gbt_18_editor_category_grid_item {
    height: 30px !important;
    padding: 0 4px;
    margin-bottom: 8px; }
  .editor-block-styles__item-preview .wp-block-getbowtied-categories-grid.gbt_18_editor_categories_grid_wrapper .gbt_18_editor_categories_grid .gbt_18_editor_category_grid_item_title {
    display: none; }
