.wp-block-gbt-products-slider {
    .product {
    display: flex;
    border: solid 2px blue;
    margin: 10px 0;
        > * {
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            text-indent: 10px;
        }

        > .remove {
            margin-left: auto;
            cursor: pointer;
            margin-right: 20px;
        }
    }

    .search-results {
        z-index: 1;
        background: #FFF;
        width: 100%;
        border: solid 1px #ccc;
        border-radius: 4px;
        
        .search-result {
            display: block;
            cursor: pointer;
            margin: 5px 0;
            
            &:hover {
                background: rgba(0,0,0,0.1);
            }

            &.selected {
                background: green;
            }
        }
    }
}