.wp-block-gbt-categories-grid
{
	margin-bottom: 1.25rem;

	.categories_grid
	{

		&.full
		{
			width: 100vw;
			margin-left: 50%;
			transform: translateX(-50%);
			padding-left: 1.05rem;
	    	padding-right: 1.05rem;

	    	@media all and (max-width: 640px) {

	    		padding-left: 20px;
      			padding-right: 20px; 
	    	}
		}

		&.wide
		{
			@media all and (min-width: 1024px) {
				width: 76vw;
				margin-left: 50%;
				transform: translateX(-50%);
			}
		}

		&:not(.full)
		{
			.category_1,
			.category_2,
			.category_3,
			.category_4,
			.category_5,
			.category_6,
			.category_more_than_6
			{
				@media all and (max-width: 639px) {
					padding-left: 0 !important;
					padding-right: 0;
				}
			}

			.category_name
			{
				@media all and (min-width: 640px) and (max-width: 1024px) {
					padding: 20px;
				}
			}
		}
	}
}