@font-face {
  font-family: 'product-blocks';
  src:
    url('fonts/product-blocks.woff2?f6hoyl') format('woff2'),
    url('fonts/product-blocks.ttf?f6hoyl') format('truetype'),
    url('fonts/product-blocks.woff?f6hoyl') format('woff'),
    url('fonts/product-blocks.svg?f6hoyl#product-blocks') format('svg');
  font-weight: normal;
  font-style: normal;
}



.wp-block-getbowtied-carousel
{
	padding: 0;
	
	.swiper-container {
		opacity: 0;
		visibility: hidden;
		transition: opacity 1s ease-in-out;
		
		&.loaded {
			opacity: 1;
			visibility: visible;
		}
	}
	
	.swiper-navigation-container {
			margin: 0 -50px;
			position: relative;
			overflow: hidden;
			
			&:hover {
				.swiper-button-prev {
					transform: translateX(70px);
				}

				.swiper-button-next {
					transform: translateX(-70px);
				}
			}
	}
	.swiper-container {
		margin: 0 50px 50px;
		
	}
	.swiper-wrapper {
		padding-bottom: 20px;
		.swiper-slide {
			ul {
				margin: 0;
				padding: 0;
				&.products {
					width: 100%;
					
					li {
						opacity: 1;
						display: block;
						transform: none;
						margin: 0;
						padding: 0;
						width: 100%;
						
						img {
							width: 100%;
						}
					}
				}
			}
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		background: none;
		transition: all .35s ease-in-out;
		&:before {
			/* use !important to prevent issues with browser extensions that change fonts */
			font-family: 'product-blocks';
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;

			/* Better Font Rendering =========== */
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}

	.swiper-button-prev {
		left: -50px;
		text-align: left;
	}

	.swiper-button-next {
		right: -50px;
		text-align: right;
	}

	&.alignfull {
		.swiper-navigation-container {
			margin: 0;
			.swiper-container {
				margin: 0 0 50px;
			}
		}
	}

	.swiper-button-prev:before {
		content: '\e900';
		color: #000;
	}

	.swiper-button-next:before {
		content: '\e901';
		color: #000;
	}

	.swiper-pagination-bullet-active {
		background: #000;
	}

	.swiper-pagination-bullet {
		background: transparent;
		border: solid 1px #000;
		opacity: 1;
		// transform: none;
		&.swiper-pagination-bullet-active {
			border: none;
			background: #000;
		}
	}

	.swiper-container-horizontal > .swiper-pagination-bullets
	{
		bottom: 0;
	}
}